/* line 3, ../compass/sass/style.scss */
.A {
  border-bottom: 1px solid black;
}
/* line 5, ../compass/sass/style.scss */
.A .search-bar {
  margin-top: 10%;
  width: 70%;
}
/* line 9, ../compass/sass/style.scss */
.A .links {
  margin-top: 3%;
}

/* line 16, ../compass/sass/style.scss */
.B #prof-pic img {
  width: 100%;
}

/* line 21, ../compass/sass/style.scss */
#prof-info {
  font-size: 10px;
}

/* line 24, ../compass/sass/style.scss */
#image {
  width: 100%;
}

/* line 27, ../compass/sass/style.scss */
#profile {
  border: 1px solid black;
  margin-bottom: 2%;
}

/* line 31, ../compass/sass/style.scss */
#view-box {
  background-color: #999;
}

/* line 34, ../compass/sass/style.scss */
#video-queue {
  margin-top: 5%;
}
/* line 38, ../compass/sass/style.scss */
#video-queue .queue-text {
  font-size: 8px;
}

/* line 44, ../compass/sass/style.scss */
#video-box iframe {
  padding-bottom: 5%;
}

/* line 49, ../compass/sass/style.scss */
.C {
  background-color: #ddd;
}

/* line 55, ../compass/sass/style.scss */
#ad-window {
  background-color: #ddd;
}
/* line 57, ../compass/sass/style.scss */
#ad-window img {
  width: 100%;
}

/* line 62, ../compass/sass/style.scss */
.vid-item {
  padding: 2%;
}

/* line 65, ../compass/sass/style.scss */
#gap1, #gap2 {
  height: 25px;
}
